build
.vscode
.cache
__pycache__
*.pyc
*.pyo
.pytest_cache
.benchmarks
.ipynb_checkpoints
*.o
*.so
*.a
tmp
mpmt_venv
application/storage
application/pretreat/pre.json
application/pretreat/querier_users.json
application/pretreat/set_holder_users.json
application/task_status.json